body {
  background-color: #ffffff;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}


nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #690086;
  background: linear-gradient(90deg, rgba(105, 0, 134, 1) 0%, rgba(177, 61, 209, 1) 50%, rgba(105, 0, 134, 1) 100%);
}


nav img.logo {
  width: 150px;
  height: auto;
  padding-left: 40px;
}

ul {
  justify-content: center;
  list-style: none;
  display: flex;
  gap: 20px;
  margin: none;
  padding: 0px;
}


ul li a {
  text-decoration: none;
  font-family: "Mulish", sans-serif;
  align-items: center;
  font-size: 18px;
  color: #ffffff;
  transition: 0.3s;
}


ul li a:hover {
  color: #000;
}

/*------------------------------*/
.container {
  background: #690086;
  background: linear-gradient(90deg, rgba(105, 0, 134, 1) 0%, rgba(177, 61, 209, 1) 50%, rgba(105, 0, 134, 1) 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: auto;
  align-items: center;
}

h1 {
  font-family: "Mulish", sans-serif;
  color: #ffffff;
  font-size: 130px;
  letter-spacing: -5px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 80px;


}


h2 {
  font-size: 30px;
  font-family: "Mulish", sans-serif;
  display: flex;
  flex-direction: column;
  color: #ffffff;
  margin-bottom: 0px;
}

h4 {
  font-family: "Mulish", sans-serif;
  color: #ffffff;
  font-size: 18px;
  margin-top: 5px;
  margin-bottom: 50px;
}

h5 {
  font-family: "mulish", sans-serif;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  font-size: 100px;
  padding-top: 200px;
  padding-bottom: 200px;

}

/*-----------CATEGORIA--------------*/

.Categoria {
  padding-top: 40px;
  padding-bottom: 40px;

}

.icones {
  display: flex;
  justify-content: space-evenly;
  align-items: center;


}


.icones img {
  width: 250px;
  height: auto;
  margin: 10px;
  border-radius: 80%;

}

p {
  font-size: 30px;
  font-family: "Mulish", sans-serif;
  color: #690086;
  text-align: center;
}

h3 {
  font-size: 40px;
  font-family: "Mulish", sans-serif;
  color: #690086;
  text-align: left;
  padding-left: 70px;
  margin-bottom: 20px;
}





/*-----------CARD--------------*/

.mais-procurados {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
   background: linear-gradient(90deg, rgba(105, 0, 134, 1) 0%, rgba(177, 61, 209, 1) 50%, rgba(105, 0, 134, 1) 100%);
 
}

.card {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin: 20px;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.card h2 {
  font-family: "Mulish", sans-serif;
  color: #000;
  font-size: 24px;
  margin-bottom: 10px;
}

.card p {
  font-family: "Mulish", sans-serif;
  color: rgb(0, 0, 0);
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.card img {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
  border-radius: 10px;
}

.card button {
  font-family: "Mulish", sans-serif;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  background-color: rgb(195, 0, 255);
  color: white;
}

/*-----------slide--------------*/

.galeria {
  height: 520px;
  width: 935px;
  border-radius: 20px;
  overflow: hidden;
  position: absolute;
  top: 330%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex: content;
  align-content: center;
  flex-direction: column;
}

.navigation {
  position: absolute;
  bottom: 20px;
  left: 50%;
  display: flex;
  transform: translate(-50%);

}

.bar {
  width: 70px;
  height: 17px;
  border: 2px solid #fff;
  margin: 6px;
  border-radius: 5px;
  cursor: pointer;
  transition: .4s;
}

.bar:hover {
  background: #fff;
}


input {
  display: none;;
}

.slides {
  display: flex;
  width: 500%;
  height: 100%;
}

.slide {
  width: 20%;
  transition: 0.6s;
}

.slide img {
  width: 100%;
  height: 100%;
}

#slide1:checked ~ .s1 {
  margin-left: 0;
}

#slide2:checked ~ .s1 {
  margin-left: -20%;
}

#slide3:checked ~ .s1 {
  margin-left: -40%;
}

#slide4:checked ~ .s1 {
  margin-left: -60%;
}

#slide5:checked ~ .s1 {
  margin-left: -80%;
}
/*-----------FOOTER--------------*/
footer {
  background-color: #690086;
  background: linear-gradient(90deg, rgba(105, 0, 134, 1) 0%, rgba(177, 61, 209, 1) 50%, rgba(105, 0, 134, 1) 100%);
  color: #ffffff;
  text-align: center;
  position: relative;
  margin-top: 100px;
  padding-top: 100px;
  padding-bottom: 50px;
  top:600px;
  bottom: 0;
  width: 100%;
}